#contactInfo {
    margin-top: 154px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#contactTitle {
    font-family: "Satisfy", serif;
    font-size: 1em;
    font-weight: 400;
    color: #f65f5f;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .googleForms iframe {
        transform: (scale(0.5));
        max-width: 90%;
    }
}