.gallery {
    margin-top: 154px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#galleryTitle {
    font-family: "Satisfy", serif;
    font-size: 1em;
    font-weight: 400;
    color: #f65f5f;
}
.galleryImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    align-content: center;
}

.galleryImages img {
    width: 250px;
}

.galleryImages figcaption {
    font-family: "Noto Sans", serif;
    font-size: 1em;
    font-weight: 300;
    color: #f65f5f;
    max-width: 250px;
    text-align: center;
    align-items: center;
}

